.header__img {
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #31a8df;
}
